.news-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;  

    width: 15vw;
}

.card-image {
    width: 15vw;
}

.news-card p {
    text-align: justify;
}

.news-card h1 {
    font-size: 25px;
}